<!DOCTYPE html>
<html>
    <head>
<!-- Primary Meta Tags -->
<title>pustak</title>
<meta name="title" content="pustak ">
<meta name="description" content="“If you only read the books that everyone else is reading, you can only think what everyone else is thinking.”
- Haruki Murakami">
<!-- Open Graph / Facebook 
<meta property="og:type" content="website">
<meta property="og:url" content="https://kshitijk4poor.github.io/books/">
<meta property="og:title" content="books | kshitij kapoor">
<meta property="og:description" content="“If you only read the books that everyone else is reading, you can only think what everyone else is thinking.”
- Haruki Murakami">
<meta property="og:image" content="../meta.png">-->

<!-- Twitter 
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://kshitijk4poor.github.io/books/"">
<meta property="twitter:title" content="books">
<meta property="twitter:description" content="“If you only read the books that everyone else is reading, you can only think what everyone else is thinking.”
- Haruki Murakami">-->
<meta property="twitter:image" content="../meta.png">
        <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
        <link rel="manifest" href="favicons/site.webmanifest">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/styles/styles.css">
    </head>
    <body>
        <div class="textbox" ><p class="fade-in two">“If you only read the books that everyone else is reading, you can only think what everyone else is thinking.”
            <br>- Haruki Murakami</p></div>

        <div class="searchbox">
          
<form action="{{ url_for("book")}}" method="post">
            <input type="text" placeholder="Search" name="book" class="fade-in one">
        </div>
        <!--<div class="bluegradient"></div>
        <div class="purplegradient"></div>-->
    </body>
</html>